* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    height: 12em;
    background: rgb(220, 220, 220);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    transition: background, box-shadow, .3s;
  }

@media screen and (min-width: 400px) {
    header {
        flex-direction: row;
        height: 5em;
    }
}

#header-img {
    width: 200px;
    height: auto;
    align-self: center;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

@media screen and (min-width: 400px) {
    nav {
        display: flex;
        flex-basis: 300px; /* width of the flex item when there is enough space */
        align-items: center;
    }
    nav ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

ul li a {
    color: black;
    font-size: 1.5em;
    padding: .2em;
    text-decoration: none;
}
  
main {
    background: rgb(220, 220, 220);
    padding: 12em 0 1em 1em;
}

@media screen and (min-width: 400px) {
    main {
        padding-top: 5em;
    }
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

#two {
    background: green;
    height: 600px;
}


#video {
    max-width: 560px;
    display: block;
    margin: 0 auto;
}
